<div class="cardContainer">

    <div class="login-form">
        <div class="loginTitle">
            <p>Login 🔜</p>
        </div>
        <form class="formContainer">
            <div class="inputGroup">
                <input type="text" title="Username" placeholder="Username" autocomplete="off">
            </div>
            <div class="inputGroup">
                <input type="password" title="Password" placeholder="Password">
            </div>
            <div style="width: 100%; text-align: center;">
                <a href="/#">Olvidates tu contraseña?</a>
            </div>
            <div>
                <button type="submit" class="btn-primary" title="login">Sin-In</button>
            </div>
        </form>
    </div>

    <div class="imgContainer">

    </div>
</div>
