<div class="cardContainer">

    <div class="login-form">
        <div class="loginTitle">
            <p>Introduce your information</p>
        </div>
        <form class="formContainer">
            <div class="inputGroup">
                <input type="text" title="Username" placeholder="Username" autocomplete="off">
            </div>
            <div class="inputGroup">
                <input type="password" title="Password" placeholder="Password">
            </div>
            <div style="width: 100%; text-align: center;">
                <a class="linkAuth" href="/#">Forgot your password?</a> <br> <br>
                <a class="linkAuth" href="/sing-up">Create an account <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
            <div>
                <button type="submit" class="btn-primary" title="login">Sin-In</button>
            </div>
        </form>
        
    </div>

    <div class="imgContainer">
        <div >
            <img class="imgLogoLogin" src="../../../../assets/img/imgLogoGrande.png" alt="">
        </div>
        <p> Welcome to the jungle 🎶</p>

    </div>
</div>
