<div class="sidebar">
  <div class="logoContainer"></div>
  <div class="navList">
    <div class="itemList">
      <button href="#" class="linkListado">
        <i class="fa-solid fa-chart-line"></i> 
      </button>
    </div>

    <div class="itemList">
      <button href="#" class="linkListado">
        <i class="fa-solid fa-chart-line"></i> 
      </button>
    </div>

    <div class="itemList" title="Usuarios">
      <button href="#" class="linkListado">
        <i class="fa-solid fa-user-group"></i>
      </button>
    </div>
  </div>
  <!-- <div class="navList">
    <a href="#" class="linkListado"> <i class="fa-solid fa-user-group"></i> User </a>
  </div>
  <div class="navList">
    <a href="#"> <i class="fa-solid fa-gears"></i> Message </a>
  </div> -->
</div>
